* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-background-color: #0d1b2e;
  --secondary-color: #ffffff;
  --button-color: #415a77;
  /* --text-color: #0d1b2e; */
  --text-color: #ffffff;
  --border-radius: 10px;
}
body {
  /* background-color: #607d8b45; */
  background-image: linear-gradient(84deg, #1561c9c9, #000b19);
  margin: 0;
}

#root {
  position: relative;
  font-family: Saira;
  width: 90%;
  min-height: calc(100vh - 20px);
  margin: 0 auto;
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 30px;
}

@media (max-width: 766px) {
  #root {
    width: 100%;
    padding: 5px;
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: var(--main-background-color); */
  background-image: linear-gradient(
    45deg,
    var(--main-background-color),
    #152582
  );
  height: 50px;
  border-radius: var(--border-radius);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 4px 10px -6px #5098f9;

  a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 20px;
  }
}

.my-link {
  font-weight: bold;
  color: var(--secondary-color);
}
.home-container {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  text-align: center;
  img,
  h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 1s;
  }
  img {
    width: calc(50% - 40px);
    left: 25%;
    top: 50%;
    border-radius: var(--border-radius);
    box-shadow: -5px 5px 8px #1b213b;
    margin: 20px;
  }
  h2 {
    top: 50%;
    right: 25%;
    transform: translate(50%, -50%);
    width: 50%;
    transition: 1s ease;
  }
  div {
    display: none;
    transition: 1s;
  }
}

.home-container:hover {
  img {
    left: -100%;
  }
  h2 {
    right: -100%;
  }
  div {
    display: block;
  }
}
@media (max-width: 766px) {
  .home-container {
    height: 200px;
    img {
      width: 50%;
      margin: 20px 0;
    }
    h2 {
      font-size: 18px;
    }
  }
}
.cat {
  width: 100%;
  margin: 30px auto 10px;
  display: grid;
  align-items: center;
  align-items: center;
  grid-template-columns: auto auto auto auto;
  column-gap: 15px;
}

.cat button {
  /* background-color: #e0e1dd; */
  background-image: linear-gradient(
    15deg,
    var(--main-background-color),
    #155fb4
  );
  color: white;
  border: none;
  border-radius: var(--border-radius);
  margin: 5px;
  padding: 5px;
  transition: 0.5s;
}

.search-bar {
  background-color: #04328b;
  height: 50px;
  border-radius: var(--border-radius);
  width: 100%;
  margin: 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(15deg, black, transparent);

  #searchName,
  #max-price {
    border: none;
  }
  #searchName {
    width: 400px;
    background-color: transparent;
    border-radius: var(--border-radius);
    font-size: 15px;
  }
  #max-price {
    height: 30px;
    color: var(--text-color);
    width: 100px;
    background-color: white;
    border-radius: var(--border-radius);
  }
  button {
    background-color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 766px) {
  .search-bar {
    #searchName {
      width: 200px;
      height: 30px;
    }

    #max-price {
      width: 70px;
      height: 30px;
    }
    button {
      background-color: white;
      border: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      padding: 1px;
    }
  }
}
.reset-search:first-child {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--main-background-color);
}
.p-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.not-available::after {
  content: "Not Available";
  position: absolute;
  color: var(--text-color);
  top: 25px;
  left: -30px;
  width: 70%;
  height: 18px;
  background: #a9a9a9;
  text-align: center;
  padding: 4px;
  transform: rotate(-45deg);
}

.product-card {
  overflow: hidden;
  position: relative;
  margin: 5px;
  width: 220px;
  background-color: var(--main-background-color);
  box-shadow: 6px 1px 9px -3px #ffffff54;
  padding: 4px;
  border-radius: var(--border-radius);
  font-size: 13px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "img img add-btn" "img img remove-btn" "title title title" "title title title" "price price cat" "det det det";
  align-content: space-between;
  align-items: center;
  gap: 5px;

  .img {
    grid-area: img;
    width: 160px;
    background-color: white;
    overflow: hidden;
    .p-img {
      order: 1;
      background-size: cover;
      height: 160px;
      transition: 0.5s;
      border-radius: var(--border-radius);
    }
  }

  .p-title {
    grid-area: title;
    font-size: 14px;
    font-weight: bold;
    width: 90%;
  }

  .price {
    grid-area: price;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    .p-price {
      font-size: 18px;
    }
    .p-old-price {
      font-size: 12px;
      text-decoration: line-through;
    }
  }

  .p-category {
    grid-area: cat;
    margin-left: -20px;
  }

  .det {
    grid-area: det;
    margin-top: 5px;
    padding: 4px 1px;
    background-color: var(--button-color);
    color: white;
    text-decoration: none;
    border-radius: var(--border-radius);
    text-align: center;
  }

  button {
    margin: 0px auto;
    border-radius: var(--border-radius);
    background-color: #ffffff9e;
    width: 40px;
    margin: 4px;
    height: 35px;
    color: var(--text-color);
    border: 2px solid var(--main-background-color);
    text-align: center;
  }
  .add-btn {
    grid-area: add-btn;
  }
  .remove-btn {
    grid-area: remove-btn;
  }
}

.p-img:hover {
  transform: matrix(1, -1, 1, 1, 0, 0);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25px, -25px);
}
.loading::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 4px solid #133c6ac3;
  /* border-bottom: 4px solid transparent; */
  border-radius: 50%;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: ease;
}

/* End Products Page  */

/* Start Product Details  */
.back {
  width: 200px;
  height: 25px;
  margin: 10px calc(50% - 100px);
  padding: 2px;
  background-color: var(--button-color);
  color: var(--secondary-color);
  border-radius: var(--border-radius);
  text-decoration: none;
  text-align: center;
}

.d-card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "pic title title" "pic price cat" "des des des" "hr hr hr" "btn put tot";
  justify-content: space-evenly;
  align-items: center;

  .d-title {
    grid-area: title;
    font-weight: bold;
  }
  .d-img {
    grid-area: pic;
    height: 200px;
  }
  .d-price {
    grid-area: price;
  }
  .d-description {
    grid-area: des;
  }
  .d-category {
    grid-area: cat;
  }
  hr {
    grid-area: hr;
    width: 100%;
    background-color: #0d1b2e;
    margin: 20px;
    height: 3px;
  }

  button {
    grid-area: btn;
    min-width: fit-content;
    margin: 20px;
    color: var(--secondary-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 8px;
    background-color: var(--button-color);
  }

  input {
    width: 50px;
    grid-area: put;
    padding: 8px;
    width: 60px;
  }

  .total {
    grid-area: tot;
    background-color: #133c6ac3;
    color: var(--secondary-color);
    padding: 8px;
    text-align: center;
    border-radius: 5px;
  }
}

/* End Product Details */

/* Start My Cart Page */

.c-container {
  width: 90%;
}
.c-head {
  font-weight: bold;
}
.c-card {
  height: 100px;
}
.c-head,
.c-card {
  width: 100%;
  margin: 5px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100px 1fr repeat(4, 100px);
  grid-template-areas: "pic title single quant tot remo";
  gap: 5px;
  align-items: center;
  text-align: left;
  .c-img {
    grid-area: pic;
    width: 100px;
  }
  .c-title {
    grid-area: title;
  }
  .c-price {
    grid-area: single;
  }
  .c-quantity {
    grid-area: quant;
    width: 60px;
  }
  .c-total {
    grid-area: tot;
  }
  .remo {
    grid-area: remo;
    width: 80px;
  }
}

.c-card .c-img {
  width: 100px;
  height: 100px;
}
@media (max-width: 776px) {
  .c-head {
    font-size: 12px;
  }
  .c-card {
    height: 50px;

    .c-img {
      height: 50px;
    }
  }
  .c-head,
  .c-card {
    grid-template-columns: 50px 1fr repeat(4, 40px);
    gap: 5px;
    .c-img {
      width: 50px;
    }
    .c-quantity {
      width: 40px;
    }
    .remo {
      width: 30px;
    }
  }
}

/* End My Cart Page */

/* Start About me  */

.about-me {
  width: 90%;
  margin: 20px 0 40px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "name name img" "per info skills" "pro pro pro";
  justify-items: center;
  gap: 10px;
  .a-img {
    grid-area: img;
    width: 200px;
    border-radius: var(--border-radius);
    box-shadow: -3px 5px 8px #1b213b;
  }
  .a-name {
    grid-area: name;
    width: 100%;
    text-align: center;
    align-self: center;
    text-shadow: -7px 3px 4px #1b213b4a;
  }

  h3 {
    width: 100%;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  .a-personal {
    grid-area: per;
  }
  .a-info {
    grid-area: info;
  }
  .a-skills {
    grid-area: skills;
  }

  .a-projects {
    grid-area: pro;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

    a {
      margin: 5px;
      color: var(--text-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      img {
        width: 50px;
        height: 50px;
        border-radius: var(--border-radius);
      }
    }
  }
}
@media (max-width: 776px) {
  .about-me {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "name img" "per per" "info info" "skills skills" "pro pro";
    align-items: center;
    justify-items: left;
    .a-name {
      font-size: 18px;
    }
    .a-img {
      width: 150px;
      height: 225px;
    }
    a {
      width: 150px;
    }
  }
}

/* End About Me */
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  input,
  label {
    width: 200px;
    margin: 10px 0;
  }
  button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: var(--button-color);
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: var(--border-radius);
  }
}
@media (max-width: 776px) {
  form {
    width: 90%;
    input,
    label {
      width: 100%;
      height: 30px;
    }
  }
}
@keyframes rotate {
  from {
    transform: rotate(180deg);
    border-top: 4px solid transparent;

    /* transform: translate(25px, 25px); */
  }

  to {
    transform: rotate(-180deg);
    border-right: 4px solid transparent;
  }
}

.footer {
  position: absolute;
  bottom: -20px;
  background-color: #1b213b;
  width: 100%;
  color: var(--secondary-color);
  text-align: center;
  height: 30px;
  padding: 4px;
  border-radius: var(--border-radius);
}

/* .loading:hover:after {
} */
